<!-- Begin MailChimp Signup Form -->

<div id="mailchimp">
  <form action="http://inlandclothing.us5.list-manage.com/subscribe/post?u=538ecb5ea5dfab4a042a0a265&amp;id=944e820fef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="enter your email to receive updates" required size="40">
    <input type="submit" value="&#8674;" name="subscribe" id="mc-embedded-subscribe">
  </form>
</div>

<!--End mc_embed_signup-->
